.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

.header a {
  color: #fff;
  padding: 20px;
  margin: 0, 10px;
  transition: color 0.4s ease-in-out;
}

.header a:hover,
.header .active {
  color: #c353c3;
}
